In [1]:
import pandas as pd
from pprint import pprint
import datetime as dt

In [13]:
#Read in CSV files
txlastStatements = pd.read_csv("tx_deathrow_fulll.csv")

In [14]:
#get the index datatype, column names
txlastStatements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Execution                553 non-null    int64
 1   Date of Birth            539 non-null    object
 2   Date of Offence          536 non-null    object
 3   Highest Education Level  505 non-null    float64
 4   Last Name                553 non-null    object
 5   First Name               553 non-null    object
 6   TDCJ
Number              553 non-null    int64
 7   Age at Execution         553 non-null    int64
 8   Date Received            539 non-null    object
 9   Execution Date           553 non-null    object
 10  Race                     553 non-null    object
 11  County                   553 non-null    object
 12  Eye Color                518 non-null    object
 13  Weight                   511 non-null    float64
 14  Height                   513 non-null    object
 15  Native County            510 non-null    object
 16  Native State             524 non-null    object
 17  Last Statement           443 non-null    object
dtypes: float64(2), int64(3), object(13)
memory usage: 77.9+ KB

In [15]:
txlastStatements.head()

,Execution,Date of Birth,Date of Offence,Highest Education Level,Last Name,First Name,TDCJ\nNumber,Age at Execution,Date Received,Execution Date,Race,County,Eye Color,Weight,Height,Native County,Native State,Last Statement
0,553,9/24/1983,11/21/2004,9.0,Young,Christopher Anthony,999508,34,3/31/2006,7/17/2018,Black,Bexar,Brown,216.0,"6' 1""",Bexar,Texas,l want to make sure the Patel family knows I l...
1,552,8/28/1951,5/27/1979,12.0,Bible,Danny Paul,999455,66,7/17/2003,6/27/2018,White,Harris,Blue,194.0,"5' 7""",Brazoria,Texas,NaN
2,551,4/3/1981,12/3/2003,10.0,Castillo,Juan Edward,999502,37,9/27/2005,5/16/2018,Hispanic,Bexar,Brown,180.0,"5' 11""",Bexar,Texas,To everyone that has been there for me you kno...
3,550,4/4/1987,4/6/2008,11.0,Davila,Erick Daniel,999545,31,2/27/2009,4/25/2018,Black,Tarrant,Brown,161.0,"5' 11""",Tarrant,Texas,"Yes, I would like to say nephew it burns huh. ..."
4,549,3/26/1980,9/13/2005,12.0,Rodriguez III,Rosendo,999534,38,5/14/2008,3/27/2018,Hispanic,Lubbock,Brown,198.0,"5' 8""",Wichita,Texas,First I would like to say I have been here sin...

In [17]:
#put the columns into a list
txlastStatementColumns = txlastStatements.columns.tolist()
txlastStatementColumns

['Execution',
 'Date of Birth',
 'Date of Offence',
 'Highest Education Level',
 'Last Name',
 'First Name',
 'TDCJ\nNumber',
 'Age at Execution',
 'Date Received',
 'Execution Date',
 'Race',
 'County',
 'Eye Color',
 'Weight',
 'Height',
 'Native County',
 'Native State',
 'Last Statement']

In [ ]:
#adding values to a list
txDeathrowList = []
for value in txlastStatementValues:
    MicroStockList.append(stock)
MicroStockList